* {
  margin: 0;
  padding: 0;
}
.form {
  height: 100%;
  width: 20%;
  margin-top: 5%;
  font-size: 20px;

  /* margin-left: ; */
}
#btn1 {
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
  border-style: none;
  width: 100%;
}

.input {
  width: 50%;
  text-align: center;
  /* margin-left: 2%; */
  font-size: 15px;
  color: black !important;
  background-color: rgb(248, 245, 245) !important;
}

#model{
  width: 30%;
  border-radius: 10px;
  margin-left: 35% !important;
}
#btn2{
  width: 40%;
  border-radius: 10px;
  text-align: center;
}
.button1 {
  background-color: #fffb1b;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}
.button2 {
  background-color: #d6c102;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}
.button3 {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}
.button4 {
  background-color: #bc34fb;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}
.button5 {
  background-color: #0476aa;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}
.button6{
  background-color: #6d04aac7;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}
.button7 {
  background-color: #acb1af71;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}

hr{
 margin-left: 10%;
}
.board{
  /* width: 100%; */
  border-top: black;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
}
#top{
  border-top-style: solid;
  margin-top: 10%;
}
.main{
 
  display: flex;
  /* flex-wrap:wrap; */
  /* border:1px solid black; */
}
/* table, th, td {
  border: 1px solid black;
} */
.main>.table1,.table2, .table3,.table4,.table4{
  display: flex;
  /* height: 50%; */
  border:1px solid black;
  /* height:50%;
  width:20%; */
  /* margin:10px; */
}